@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
h2 {
    text-transform: uppercase;
    font-family: "Quattrocento";
    color: slategrey;
}

h1 {
    font-family: "Quattrocento";
}

figure, img{
    width: auto;
    max-width: 100%;
}

p {
    font-family: "Crimson Pro";
}

footer {
    background-color: slategrey;
    padding: 10px;
}

footer ul {
    text-align: center;
}

footer ul li{
    display: inline;
    text-align: center;
    color: White;
    padding-right: 30px;
}

/* https://www.codegrepper.com/code-examples/css/remote+dots+ul+html */
nav ul{
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 40px;
}

nav ul li{
    color: Crimson;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer a:link{
    text-decoration: none;
    color: White;
}

footer a:visited{
    text-decoration: none;
    color: White;
}

footer a:hover{
    text-decoration: none;
    color: White;
}

/* (Line 65-83 and Line 49-62) For the a with pseudo-class: https://blog.hubspot.com/website/remove-underline-from-links-css */
nav a:link{
    text-decoration: none;
    color: Crimson;
}

nav a:visited{
    color: slategray;
    text-decoration: none;
}

nav a:hover{
    color: Crimson;
    text-decoration: underline;
}

nav a:active{
    color: White;
    background-color: crimson;
}

p {
    text-align: left;
}

/* All of h2 and h2 span below (Line 90-100) from: https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle */
h2{
    width: 100%;
    text-align: left;
    border-bottom: 1px solid slategray;
    line-height: 0.1em;
    margin: 20px 0 20px;
}
h2 span {
    background: #fff;
    padding: 0 10px;
}

.settings{
    position: fixed;
    top: 2%;
    right: 2%;
}

.wrapper{
    max-width: 800px;
    text-align: center;
    margin: auto;
}

figure {
    position: relative;
}

figure figcaption{
    position: absolute;
    color: White;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    width: 100%;
    text-align: center;
}

/* Computer CSS */
@media only screen and (min-width: 500px) {
    nav ul li{
        display: inline;
        text-align: center;

        border-right-style: solid; /*https://www.w3schools.com/css/css_border.asp*/
        padding-right: 20px;
        padding-left: 10px;

        color: slategrey;
    }

    nav ul li:last-of-type{
        border-style: none;
    }

    #selectors + p{
        font-size: 22px;
        font-style: normal;
    }

    #selectors + p:first-line{ /* https://www.w3schools.com/cssref/sel_firstline.asp */
        color: crimson;
    }

    #selectors + p:first-letter{ /* https://blog.hubspot.com/website/css-drop-cap */
        font-size: 75px;
        line-height: 65%;
        float:left;
        color: black;
        initial-letter: 2;
    }

    h2 + p{
        font-style: italic;
    }

    /* Fix Image (Line 164-172)*/
    figure{
        float: left;
        width: auto;
    }

    figure img{
        height: 250px;
    }
}