@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
h2 {
    text-transform: uppercase;
    font-family: "Quattrocento";
    color: slategrey;
}
h1 {
    font-family: "Quattrocento";
}
figure, img{
    width: auto;
    max-width: 100%;
}
p {
    font-family: "Crimson Pro";
}
footer {
    background-color: slategrey;
    padding: 10px;
}
footer ul {
    text-align: center;
}
/* nav ul li{
    display: block;
    text-align: center;
} */

footer ul li{
    display: inline;
    text-align: center;
    color: White;
    padding-right: 30px;
}

/* https://www.codegrepper.com/code-examples/css/remote+dots+ul+html */
nav ul{
    list-style-type: none;
}

nav ul li{
    color: Crimson;
    padding-bottom: 20px;
    padding-top: 20px;
    /* text-decoration: none; */
}

footer a:link{
    text-decoration: none;
    color: White;
}

footer a:visited{
    text-decoration: none;
    color: White;
}

footer a:hover{
    text-decoration: none;
    color: White;
}

/* For the a with pseudo-class: https://blog.hubspot.com/website/remove-underline-from-links-css */
nav a:link{
    text-decoration: none;
    color: Crimson;
}

nav a:visited{
    color: slategray;
    text-decoration: none;
}

nav a:hover{
    color: Crimson;
    text-decoration: underline;
}

nav a:active{
    color: White;
    background-color: crimson;
}

/* h2 and h2 span from: https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle */
h2{
    /* border-bottom: 3px solid slategrey; */
    /* padding-right: 50%; */
    /* margin-left: 100px; */
    width: 100%;
    text-align: left;
    border-bottom: 1px solid slategray;
    line-height: 0.1em;
    margin: 20px 0 20px;
    /* margin: 0px 5px 50px; */
    /* margin-left: 50px; */
}
h2 span {
    /* position: relative; */
    background: #fff;
    padding: 0 10px;
}

.settings{
    position: fixed;
    top: 2%;
    right: 2%;
    /* text-align: right; */
    /* margin: 0 5px 5px 2000px; */
}

.wrapper{
    max-width: 800px;
    text-align: center;
    margin: auto;
}

figure {
    position: relative;
}

figure figcaption{
    position: absolute;
    color: White;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    /* right: 5px; */
    width: 100%;
    text-align: center;
}

/* Computer CSS */
@media only screen and (min-width: 500px) {
    nav ul li{
        display: inline;
        text-align: center;

        border-right-style: solid; /*https://www.w3schools.com/css/css_border.asp*/
        padding-right: 5px;

        color: slategrey;
    }
    nav ul li:last-of-type{
        border-style: none;
    }
    #selectors + p{
        font-size: 22px;
    }
    /* #selectors + p:nth-of-type(1){ */
    /* #selectors + p:nth-of-type(1){ */
    #selectors + p:first-line{ /* https://www.w3schools.com/cssref/sel_firstline.asp */
        color: crimson;
    }
    #selectors + p:first-letter{ /* https://www.w3docs.com/snippets/css/how-to-create-drop-caps-for-the-text.html */
        font-size: 100px;
        color: black;
    }
    h2 + p{
        font-style: italic;
    }
    /* figure {
        height: 250px;
        float: left;
        overflow: hidden;
    } */
    /* img {
        max-width: 800px;
        text-align: center;
    } */

    /* .settings{
        position: fixed;
        margin-left: 90%;
        margin-top: -20%; */
        /* text-align: right; */
        /* margin: 0 5px 5px 2000px; */
    /* } */

    nav {
        padding-bottom: 30px;
        padding-top: 1px;
    }

    nav ul li{
        padding-right: 10px;
        padding-left: 10px;
    }
    /* nav ul li{
        padding-bottom: 0px;
    } */

    /* figure figcaption{
        position: absolute;
        background-color: transparent;
        top: 1000px;
        height: 10px;
        left: 250px; */
        /* color: white; */
    /* } */

    /* Fix Image */
    figure{
        float: left;
        width: auto;
        /* height: auto; */
        /* max-height: 100%;
        max-width: 100%; */
    }
    figure img{
        height: 250px;
    }
}