@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
h2 {
    text-transform: uppercase;
    font-family: "Quattrocento";
    color: slategrey;
}
figure, img{
    width: auto;
    max-width: 100%;
}
p {
    font-family: "Crimson Pro";
}
footer {
    background-color: grey;
}
footer ul {
    text-align: center;
}
/* nav ul li{
    display: block;
    text-align: center;
} */

/* Computer CSS */
@media only screen and (min-width: 500px) {
    nav ul li{
        display: inline;
        text-align: center;

        border-right-style: solid; /*https://www.w3schools.com/css/css_border.asp*/
        padding-right: 5px;

        color: slategrey;
    }
    nav ul li:last-of-type{
        border-style: none;
    }
    #selectors + p{
        font-size: 22px;
    }
    /* #selectors + p:nth-of-type(1){ */
    /* #selectors + p:nth-of-type(1){ */
    #selectors + p:first-line{ /* https://www.w3schools.com/cssref/sel_firstline.asp */
        color: crimson;
    }
    #selectors + p:first-letter{ /* https://www.w3docs.com/snippets/css/how-to-create-drop-caps-for-the-text.html */
        font-size: 100px;
        color: black;
    }
    h2 + p{
        font-style: italic;
    }
    figure {
        height: 250px;
        float: left;
        overflow: hidden;
    }
    /* img {
        max-width: 800px;
        text-align: center;
    } */
    body{
        max-width: 800px;
        text-align: center;
    }
    /* h2 and h2 span from: https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle */
    h2{
        /* border-bottom: 3px solid slategrey; */
        /* padding-right: 50%; */
        /* margin-left: 100px; */
        width: 100%;
        text-align: left;
        border-bottom: 1px solid slategray;
        line-height: 0.1em;
        margin: 20px 0 20px;
        /* margin: 0px 5px 50px; */
        /* margin-left: 50px; */
    }
    h2 span {
        /* position: relative; */
        background: #fff;
        padding: 0 10px;
    }

    .settings{
        position: fixed;
        margin-left: 98%;
        margin-top: -7%;
        /* text-align: right; */
        /* margin: 0 5px 5px 2000px; */
    }
    figure figcaption{
        position: absolute;
        background-color: transparent;
        top: 1000px;
        height: 10px;
        left: 250px;
        /* color: white; */
    }
}